/* RESET STYLES ---------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

sub,sup {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES ---------------------------------------- */
body {
	background: #E9EAEE;
	color: #444;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #319FDA;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a.more_info {
	color: red
}

h1,h2,h3 {
	font-weight: normal;
	color: #013d93;
	letter-spacing: -1px;
	background: #DDD;
	padding: 10px;
	margin: 24px 0 12px;
	border-bottom: 1px solid white;
}

h4,h5,h6 {
	font-weight: normal;
	color: #013d93;
	letter-spacing: -1px;
	background: #EEE;
	padding: 5px 5px 5px 10px;
	margin-left: 10px;
	border-bottom: 1px solid white;
}

h3 a,h4 a {
	color: #013d93;
}

p,ul {
	margin: 24px 10px 12px;
}

ul.subGroup {
	margin: 12px 20px 12px;
}

ul ul {
	margin-top: 0;
}

li ul {
	margin: 0px 0px 0px 12px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 15px;
	margin-left: 10px;
}

code {
	background: #EEE;
	padding: 2px 0;
}

code pre {
	display: block;
	max-height: 500px;
	margin: 25px;
	padding: 20px;
	background: #EEE;
	border: 1px solid #CCCCCC;
	line-height: 20px;
	overflow: auto;
	border-radius: 5px;
}

.logo {
	background: url(../img/despegar.gif);
	display: block;
	width: 260px;
	height: 50px;
	margin-left: 10px;
}

.container {
	max-width: 990px;
	padding: 20px;
	margin: 60px auto;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.not-implemented {
	padding: 1px 3px;
	font-size: 11px;
	background-color: #FFFF33;
}

.tags {
	padding:1px 3px;
	font-size:11px;
	background-color: #000000;
	margin-left: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.tags-big {
	padding:2px 6px;
	font-size:16px;
	background-color: #000000;
	margin-left: 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

#footer {	
	min-height:50px;
	max-width:990px;
	margin:0 auto;
}

/* LIST Styles -----------------------------*/
.rightcol {
	float: right;
	margin-bottom: 30px;
	width: 510px;
}

.leftcol {
	width: 360px;
	float: left;
}

/* Detail Styles ---------------------------*/
.new-method {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #75845C;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin: 0;
	padding: 0 5px 1px;
}

.vectorized {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #FE7A15;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin: 0;
	padding: 0 5px 1px;
}

.content-page li {
	list-style: none;
}

.example {
	font-size: 14px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.service-row {
	border-bottom: 1px solid #DDD;
}

.service-url {
	width: 300px;
	float: left;
	overflow:hidden; 
	text-overflow:ellipsis;
}

.service-description {
	width: 400px;
	float: left;
}

.service-methods {
	float:left;
	width:70px;
}

.service-tags {
	float:left;	
}
