
/* tab pane styling */
.pane {
    display:none;
    padding:15px 10px;
    border:1px solid #c3d9ec;
    border-top:0;
    height:auto;
    font-size:14px;
    background-color:#fff;
    text-align:center;
}