
/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:auto;
    display:table-row;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
    display:table-cell;
}

/* initially all panes are hidden */
.panes .pane {
    display:none;
}
